@media only screen and (max-width: 700px) {
	.score-panel {
        width: 90%;
    }

    .deck {
        width: 95%;
        padding: 16px;
        min-height: 100vw;
    }

    .deck .card {
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (max-width: 1024px) {
    .score-panel {
        font-size: 20px;
    }
}
